@page "/calendar"
@attribute [StreamRendering]

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

@if (cars == null || reservations == null || days == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
    @for (int r = 0; r < 5; r++)
        {
            <tr>
                @for (int c = 0; c < 7; c++)
                {
                    var i = r * 7 + c;
                    var day = days[i];
                    <td>
                        @if (day != null)
                        {
                            var date = day.Date;
                            var reservations = day.Reservations;
                            <div class="@(date < DateTime.Now ? "past" : "")">
                                <text>@(day.Date)</text>

                                @foreach (Reservation res in reservations)
                                {
                                    <p>@(res.UserName)</p>
                                    <p>@(res.CarName)</p>
                                    <p>@(res.Description)</p>
                                }
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </table>
}

@code {
    protected Car[]? cars;
    protected Reservation[]? reservations;
    protected Day?[]? days;

    protected override async Task OnInitializedAsync()
    {
        cars = await Car.FetchCars();
        reservations = await Reservation.FetchReservations();
        days = await Day.getDays(reservations);
    }
}
